<!DOCTYPE html>
<html>
  <head>
    <title>Wil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='h-screen'>
      <div class='h-full grid sm:grid-cols-3 sm:grid-rows-3'>
        <div class='row-start-2 col-start-2 flex justify-content items-center'>
          <%= yield %>
        </div>
      </div>
    </body>
  </html>
